@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-family: "Lato", sans-serif;
}

body {
  background: white !important;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  text-shadow: 0.05em 0.05em rgba(150, 150, 150, 0.8);
}

.container-fluid {
  width: 90% !important;
  margin-top: 1em;
  margin-bottom: 1em;
  /* background: chartreuse; */
}

.menu {
  margin-top: 4em;
  margin-left: 10em;
  text-align: center;
}

.menu li {
  display: inline;
  margin-left: 1em;
  margin-right: 2em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight: 600;
  /* border: 0.1em solid blue;
  border-radius: 0.2em; */
}

.dropdwn-menu {
  margin-left: -1em !important;
  font-weight: 400 !important;
  display: none;
  z-index: 9999 !important;
  position: absolute;
  background: white !important;
  text-align: justify;
  border: 0.1em solid #000e23;
  border-radius: 0.2em;
}

.dropdown-item:hover {
  background: antiquewhite !important;
  font-weight: 600 !important;
}
.dropdwn:hover .dropdwn-menu {
  display: block;
}

.menu a,
.qualpolicy a,
.procntnt a {
  color: #000e23;
}

.footxt a {
  color: #000e23;
}

.menu a:hover,
.footxt a:hover,
.qualpolicy a:hover,
.procntnt a:hover {
  text-decoration: none;
  text-emphasis: none;
  color: rgb(0, 140, 255);
}

.fbtm {
  width: 100%;
  padding: 0em 2em 0em 2em;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #000e23 !important;
}

.fbtm .col-md-4 {
  height: fit-content;
}

.footxt li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.footxt {
  text-align: center;
  padding-top: 1em;
}

.fbtm p {
  text-align: center;
  padding-top: 1em;
}

.param {
  transform: translate(0%, 0%);
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.param,
.param td,
.param th {
  padding: 1em;
  width: fit-content;
}

td,
th {
  border: 0.1em solid #000e23;
}

.param tr td:nth-child(1),
.param tr td:nth-child(3) {
  text-align: center;
  font-weight: 700;
}

.procntnt ul {
  margin: 1em;
}

.procntnt li {
  margin-top: 1em;
  margin-left: -1em;
}

.procntnt {
  margin-bottom: 5em;
}

.procntnt .col-md-2 img {
  width: 100%;
  margin-top: 0em;
  margin-left: 5em;
}
.qualpolicy,
.qualpolicy1 {
  /* background-color: aqua; */
  width: 90%;
  margin-left: 2.5%;
  padding: 1em;
}

.qualpolicy h1,
.qualpolicy1 h1,
.people h1,
.disclaim h1 {
  text-align: center;
  padding: 1em 0em 1em 0em;
}

.qualpolicy h4,
.qualpolicy h3,
.qualpolicy p {
  text-align: justify;
  padding: 0em 1em 1em 1em;
}

.disclaim h4 {
  text-align: justify;
  padding: 0em 1em 1em 1em;
}

.disclaim h4:nth-child(5) {
  margin-bottom: 3.5em;
}

.qualpolicy1 p {
  text-align: justify;
  padding: 0em 1em 0.5em 1em;
}

.qualpolicy1 h2 {
  text-align: center;
  padding: 1em 0em 1em 0em;
}

.people {
  text-align: center;
}

.qualpolicy ul li,
.qualpolicy1 ul li {
  font-size: 1.2em;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
}

.about .col-md-2 img {
  margin-top: 5em;
}

.infra .col-md-2 img {
  width: 150%;
  margin-left: -5em;
  margin-top: 10em;
}

.reach .col-md-4 .box,
.promain .protxtimg .col-md-4 .box {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.reach .col-md-4 .box .img img,
.promain .protxtimg .col-md-4 .box .img img {
  width: 80%;
  height: 14em;
}

.reach .txt {
  margin-top: 1em;
}

.reach .txt p:hover {
  text-shadow: 0.1em 0.1em 0.1em grey;
}

.vm .col-md-2 img:nth-child(1) {
  width: 150%;
  margin-left: -5em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.vm .col-md-2 img:nth-child(2) {
  width: 150%;
  margin-left: -5em;
}

#main {
  display: none;
}

.loader img {
  position: absolute;
  top: 45%;
  left: 45%;
  animation: loadani 2s linear forwards;
}

@keyframes loadani {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.75;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(2);
  }
}

.bvc {
  position: absolute;
  margin-top: -3.5em;
  display: flex;
  margin-left: 85%;
  width: 20%;
  transform: scale(0.9);
}

.banner {
  overflow: hidden;
  border-radius: 0.5em;
  background-color: #000e23;
  width: 70%;
  margin-left: 15%;
}

.banner img {
  height: 71vh;
  border-radius: 0.5em;
  box-shadow: 0em 0em 0.5em grey;
}

.label {
  text-align: center;
  background: none;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.8em;
  color: #000e23;
}

.social li {
  display: inline;
  text-align: center;
  padding-left: 8em;
}

.social img {
  padding-top: 0.9em;
  width: 32px;
}

.col-md-6 img {
  width: 100%;
}

.formtxt1 h2 {
  text-align: center;
}

.formtxt1 form {
  width: 60% !important;
  margin-left: 20%;
}

.formtxt1 .row .col-md-6 {
  display: inline-block;
}

.reach .protxtimg,
.promain .protxtimg {
  margin-top: 5em;
}

.about,
.vm,
.infra,
.reach,
.promain,
.people,
.career,
.divtext {
  color: #000e23;
}

.slider .col-md-4 img {
  width: 20vw;
  height: 35vh;
}

.slider2 .col-md-4 img {
  width: 70%;
  padding: 5em;
}

.slider2 {
  background-color: #000e23;
}

.people .col-md-12 table {
  margin-bottom: 2em;
  text-align: justify;
  left: 0%;
  top: 0%;
  transform: translate(40%, 0%);
}

.people .col-md-12 td {
  padding: 2em;
}

.infra .people .col-md-6,
.infra .people .col-md-4 {
  padding: 2em;
}

.mapimg {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.1em gray;
}

/* Mobile View */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar-brand img {
    width: 50%;
    margin-left: -5%;
  }
  .navbar-toggler {
    background-color: #000e23;
  }
  .navbar-toggler img {
    width: 20%;
    position: absolute;
    margin-left: -0.5em;
    margin-top: -1em;
  }
  .loader img {
    width: 25%;
  }
  .bvc {
    display: none;
  }
  .banner {
    width: 110%;
    margin-left: -3%;
  }

  .banner img {
    width: 100%;
    height: 65vh;
  }
  .menu {
    margin-top: 2em;
    margin-left: 0em;
    margin-bottom: 1em;
    text-align: center;
  }
  .footxt li {
    display: inline;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .fbtm .col-md-4 p {
    font-size: 1em;
  }
  .social li {
    display: inline;
    text-align: center;
    padding-left: 2.5em;
  }
  .qualpolicy,
  .qualpolicy1 {
    /* background-color: aqua; */
    width: 100%;
    margin-left: 0%;
    padding: 0em;
  }

  .qualpolicy h1,
  .qualpolicy1 h1,
  .people h1,
  .disclaim h1 {
    text-align: center;
    padding: 1em 0em 1em 0em;
  }

  .qualpolicy h4,
  .qualpolicy h3,
  .qualpolicy p {
    text-align: justify;
    padding: 0em 1em 1em 1em;
  }
  .qualpolicy h3 {
    font-size: 1.1em;
  }
  .qualpolicy p {
    font-size: 0.8em;
  }

  .disclaim h4 {
    text-align: justify;
    padding: 0em 1em 1em 1em;
  }

  .disclaim h4:nth-child(5) {
    margin-bottom: 3.5em;
  }

  .qualpolicy1 p {
    text-align: justify;
    padding: 0em 1em 0.5em 1em;
    font-size: 1em;
  }

  .qualpolicy ul li,
  .qualpolicy1 ul li {
    font-size: 1em;
    padding-left: 0em;
    padding-bottom: 0.5em;
  }

  .about .people .col-md-4 img,
  .infra .people .col-md-4 img {
    width: 100%;
    margin-bottom: 1em;
  }
  .about .col-md-2 img {
    width: fit-content;
    margin-top: -6em;
    margin-left: 3.5em;
  }
  .infra .col-md-2 img {
    width: 80%;
    margin-top: -6em;
    margin-left: 2.5em !important;
  }
  .vm .col-md-2 img {
    width: 100% !important;
    margin-left: 0% !important;
    margin-top: -5em;
  }
  .vm .col-md-2 {
    margin-top: -5em;
  }
  .bod {
    height: fit-content;
  }
  .bod .col-md-4 {
    height: 35vh;
    padding: 1em;
    margin-bottom: 2em;
  }

  .bodbtm {
    margin-top: 5em;
  }

  .bodbx {
    height: auto;
    background-color: white;
    margin: auto;
    width: 100% !important;
  }

  .bodbx .img {
    height: fit-content;
  }

  .bodbx .img img {
    height: 25vh;
    transform: translate(25%, 0%);
    border-radius: 50%;
    box-shadow: 0em 0em 0.5em 0.1em grey;
  }

  .bod .txt1 {
    text-align: center;
    margin-top: 1em;
    padding-top: 0.5em;
    margin-bottom: 1em !important;
  }

  .bod p {
    margin-top: -1em;
    margin-bottom: 1em;
  }
  .bod .txt1 p:nth-child(1) {
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 0.1em 0.1em 0.05em rgba(128, 128, 128, 0.404);
  }
  .mapimg {
    width: 130%;
    margin-left: 2% !important;
  }
  .map1 {
    width: 100% !important;
  }
  .slider .col-md-4 img {
    width: 100%;
    height: 35vh;
  }
  .slider2 .col-md-4 img {
    width: 100%;
  }
  .people .col-md-12 h1 {
    font-size: 1.5em;
  }
  .people .col-md-12 table {
    margin-bottom: 2em;
    text-align: left;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
  }

  .people .col-md-12 td {
    padding: 1em;
    font-size: 1.1em;
  }
  .infra .people .box img {
    width: fit-content !important;
  }
  /* Change the look of Labels */
  .formtxt h2 {
    text-transform: capitalize !important;
    padding-top: 0em;
    margin-left: 15%;
  }

  .divtext {
    width: 100% !important;
    transform: translate(-10%, 0%);
  }

  .divtext .col-md-6 {
    margin-top: 1em !important;
    padding-top: 2em;
    margin-bottom: 1.5em;
  }

  .ctext p {
    text-align: center;
    margin-top: 1em;
    padding-left: 3em;
    padding-right: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 500;
  }

  .ctext h2 {
    text-align: center;
    /* font-size: 1.5em; */
    font-weight: 400;
    width: 100%;
  }

  label {
    display: block;
    margin-top: 1em;
    letter-spacing: 0.1em;
    text-align: left;
    font-weight: 600;
    font-size: 1.2em;
  }
  /* 
.formtxt {
  background-color: cornflowerblue;
} */

  /* Center the form  */
  .formtxt form {
    width: 100%;
    margin-left: 15%;
  }

  /* textbox and textarea styles */
  .formtxt input,
  .formtxt1 input,
  .formtxt textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 1em;
    color: #000e23;
    border-radius: 0.5em;
    border: 0.1em solid #000e23;
    background-color: white;
  }

  .formtxt1 textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-top: 1em;
    color: #000e23;
    border-radius: 0.5em;
    border: 0.1em solid #000e23;
    background-color: white;
  }
  /* Border style on focus */
  input:focus,
  textarea:focus {
    border: 0.2em solid #000e23;
    outline: none;
  }

  /* submit button styles */
  #submit {
    width: fit-content;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    color: #000e23;
    text-align: center;
    margin-left: 30%;
    font-weight: 600;
  }

  /* Change button looks on hover */
  #submit:hover {
    background-color: #000e23;
    color: antiquewhite;
  }

  .career .ctext img {
    width: 40%;
    left: 0%;
    top: 0%;
    animation: imgani 10s ease-in-out infinite;
    height: 30vh;
  }

  @keyframes imgani {
    0% {
      left: 0%;
      top: 0%;
      transform: translate(100%, 5%);
    }
    50% {
      left: 0%;
      top: 0%;
      transform: translate(100%, 0%);
    }
    100% {
      left: 0%;
      top: 0%;
      transform: translate(100%, 5%);
    }
  }

  .formtxt img {
    width: 100%;
    margin-bottom: 3em;
  }

  .career .col-md-12 img {
    width: 100%;
    height: 35vh;
  }
  .career .col-md-12 img {
    margin-top: 1.2em;
  }
  .procntnt ul {
    margin: 1em;
  }

  .procntnt li {
    margin-top: 1em;
    margin-left: -1em;
  }

  .procntnt {
    margin-bottom: 5em;
  }

  .procntnt .col-md-2 img {
    width: 100%;
    margin-top: 0em;
    margin-left: 0em;
  }
  .param {
    transform: translate(0%, 0%);
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .param,
  .param td,
  .param th {
    padding: 1em;
    width: 50%;
  }
  .param table {
    width: 50%;
    margin-left: -5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */
