<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
    />
    <title>IndoBaijin</title>
    <link href="../css/contact.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../assets/logo.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="overlay4"></div>
    <div class="container-fluid">
      <!-- Just an image -->
      <nav class="navbar navbar-expand-lg">
        <img class="bvc" src="../assets/BVC.png" alt="BVC" />
        <a class="navbar-brand" href="../index.html">
          <img src="../assets/logo.png" alt="logo" />
        </a>
        <span
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          ><img src="../assets/menu.png" alt="Menu" />
        </span>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="menu navbar-nav">
            <li class="nav-item dropdwn">
              <a
                class="nav-link"
                href="aboutus.html"
                id="navbarDropdownMenuLink"
                >About Us</a
              >
              <div
                class="dropdwn-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="aboutus.html">Profile</a>
                <a class="dropdown-item" href="visionmission.html"
                  >Vision and Mission</a
                >
                <a class="dropdown-item" href="board-of-directors.html"
                  >Board of Directors</a
                >
              </div>
            </li>
            <li class="nav-item dropdwn">
              <a
                class="nav-link"
                href="infrastructure.html"
                id="navbarDropdownMenuLink"
                >Infrastructure</a
              >
              <div
                class="dropdwn-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="our-reach.html">Our Reach</a>
                <a class="dropdown-item" href=" safety.html">Safety at IBJ</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="awards-recognition.html"
                >Awards and Recognition</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="careers.html">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Navbar Ends-->
      <div class="row people">
        <div class="col-md-12">
          <h1>We are happy to share achievement of our Team</h1>
          <table>
            <tr>
              <td>1</td>
              <td>
                Gold Award at QCFI Surat chapter on Safety Concept of work place
                hazard & risk Management
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                Gold Award at QCFI Vadodara chapter on TQM topic of Customer
                latent desire & satisfaction
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Platinum Award at FAME Safety Excellence at Delhi</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Platinum Award at FAME Transport Safety at Delhi</td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                Gold Award at QCFI Vadodara chapter on Allied Quality
                Concept(Six Sigma)
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                Gold Award at QCFI Vadodara chapter on 5S Implementation at IBJ
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                Silver Award at QCFI Vadodara chapter on Kaizen Journey of IBJ
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                Gold Award at QCFI Ankleshwar chapter on Allied Quality Concept
                of Customer Satisfaction & Delight
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td>
                Gold Award at QCFI Ankleshwar chapter on Allied Quality
                Concept(Six Sigma)
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td>
                Gold Award at QCFI Ankleshwar chapter on 5S Implementation at
                IBJ
              </td>
            </tr>
            <tr>
              <td>11</td>
              <td>
                PAR Excellence Award at NCQC-Hyderabad on a Allied Kaizen -
                Customer Satisfaction & Delight
              </td>
            </tr>
            <tr>
              <td>12</td>
              <td>
                Best HR Diamond Award at QCFI Vadodara chapter on Our Combat at
                COVID-19 to create new normal Behavior
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-12">
          <div class="slider2">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-4">
                      <a href="../assets/people/1a.png"
                        ><img src="../assets/people/1a.png" alt=""
                      /></a>
                    </div>
                    <div class="col-md-4">
                      <a href="../assets/people/2a.png"
                        ><img src="../assets/people/2a.png" alt=""
                      /></a>
                    </div>
                    <div class="col-md-4">
                      <a href="../assets/people/3a.png"
                        ><img src="../assets/people/3a.png" alt=""
                      /></a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <a href="../assets/people/4a.png"
                        ><img src="../assets/people/4a.png" alt=""
                      /></a>
                    </div>
                    <div class="col-md-4">
                      <a href="../assets/people/5a.png"
                        ><img src="../assets/people/5a.png" alt=""
                      /></a>
                    </div>
                    <div class="col-md-4">
                      <a href="../assets/people/6a.png"
                        ><img src="../assets/people/6a.png" alt=""
                      /></a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <a href="../assets/people/7a.png"
                        ><img src="../assets/people/7a.png" alt=""
                      /></a>
                    </div>
                    <div class="col-md-4">
                      <a href="../assets/people/8a.png"
                        ><img src="../assets/people/8a.png" alt=""
                      /></a>
                    </div>
                    <div class="col-md-4">
                      <a href="../assets/people/9a.png"
                        ><img src="../assets/people/9a.png" alt=""
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon arr"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer-->
    <div class="fbtm">
      <div class="row">
        <div class="col-md-4">
          <ul class="footxt">
            <li><a href="#">Disclaimer</a></li>
            <li>
              <a href=" quality-policy.html">Quality Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="social">
            <li>
              <a
                href="https://www.facebook.com/Indo-Baijin-Chemicals-Private-Limited-108325937592837/"
                target="_blank"
                ><img src="../assets/facebook.png" alt=""
              /></a>
            </li>
            <li>
              <a
                href="https://youtube.com/channel/UCqpmgWpD74Gs65W2_uhc1Zw"
                target="_blank"
                ><img src="../assets/youtube.png" alt=""
              /></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/indobaijinchemicals"
                target="_blank"
                ><img src="../assets/linkedin.png" alt=""
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <p>Copyright &#169; IndoBaijin, 2021. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </body>
</html>
