<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
    />
    <title>IndoBaijin</title>
    <link href="../css/contact.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../assets/logo.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="overlay"></div>
    <div class="container-fluid">
      <!-- Just an image -->
      <nav class="navbar navbar-expand-lg">
        <img class="bvc" src="../assets/BVC.png" alt="BVC" />
        <a class="navbar-brand" href="../index.html">
          <img src="../assets/logo.png" alt="logo" />
        </a>
        <span
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          ><img src="../assets/menu.png" alt="Menu" />
        </span>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="menu navbar-nav">
            <li class="nav-item dropdwn">
              <a
                class="nav-link"
                href="aboutus.html"
                id="navbarDropdownMenuLink"
                >About Us</a
              >
              <div
                class="dropdwn-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="aboutus.html">Profile</a>
                <a class="dropdown-item" href="visionmission.html"
                  >Vision and Mission</a
                >
                <a class="dropdown-item" href="board-of-directors.html"
                  >Board of Directors</a
                >
              </div>
            </li>
            <li class="nav-item dropdwn">
              <a
                class="nav-link"
                href="infrastructure.html"
                id="navbarDropdownMenuLink"
                >Infrastructure</a
              >
              <div
                class="dropdwn-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="our-reach.html">Our Reach</a>
                <a class="dropdown-item" href=" safety.html">Safety at IBJ</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="awards-recognition.html"
                >Awards and Recognition</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="careers.html">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Navbar Ends-->
      <div class="disclaim">
        <h1>Disclaimer</h1>
        <h4>
          Indobaijin.com is the registered and proprietary domain of Indofil
          Chemicals Company (Division of Indofil Organic Industries Limited)
          that retains copyright on all text and graphics and all trademarks
          displayed on this site which are the properties of the company. You
          may use the information on this site strictly for personal use only.
          Please do not distribute or replicate the text or graphics on this
          site without the express written consent of Indofil Chemicals Company
          (Division of Indofil Organic Industries Limited). You will not,
          without our permission, copy and distribute this information on any
          other PC/server or any other device, or modify or duplicate text or
          graphics on this system or any other system for any purpose.
        </h4>
        <h4>
          No reproduction of any part of this site may be sold or distributed
          for commercial gain nor shall it be modified or incorporated in any
          other work, publication or site, whether in hard copy or electronic
          format, including postings to any other site. Indofil Chemicals
          Company (Division of Indofil Organic Industries Limited) reserves all
          other rights.
        </h4>
        <h4>
          The contents of this site are for information and general purpose
          only. It should not be relied upon for any specific purpose and no
          representation or warranty, express or implied is given as regards its
          accuracy or completeness or as to the fitness of the informations for
          any purpose. No information on this site shall constitute an
          invitation to invest in Indofil Chemicals Company (Division of Indofil
          Organic Industries Limited). Neither Indofil Chemicals Company
          (Division of Indofil Organic Industries Limited), nor any of their or
          their Affiliates' officers, employees or agents shall be liable for
          any loss, damage or expense arising out of any access to or use, of
          this site or any site linked to it including, without limitation, any
          loss of profit, indirect incidental or consequential loss.
        </h4>
        <h4>
          Any dispute arising out of or pertaining to the contents herein shall
          be subject to the jurisdiction of the Courts in Mumbai.
        </h4>
      </div>
    </div>
    <!--Footer-->
    <div class="fbtm">
      <div class="row">
        <div class="col-md-4">
          <ul class="footxt">
            <li><a href="disclaimer.html">Disclaimer</a></li>
            <li>
              <a href=" quality-policy.html">Quality Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="social">
            <li>
              <a
                href="https://www.facebook.com/Indo-Baijin-Chemicals-Private-Limited-108325937592837/"
                target="_blank"
                ><img src="../assets/facebook.png" alt=""
              /></a>
            </li>
            <li>
              <a
                href="https://youtube.com/channel/UCqpmgWpD74Gs65W2_uhc1Zw"
                target="_blank"
                ><img src="../assets/youtube.png" alt=""
              /></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/indobaijinchemicals"
                target="_blank"
                ><img src="../assets/linkedin.png" alt=""
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <p>Copyright &#169; IndoBaijin, 2021. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </body>
</html>
