<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
    />
    <title>IndoBaijin</title>
    <link href="../css/contact.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../assets/logo.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="overlay4"></div>
    <div class="container-fluid">
      <!-- Just an image -->
      <nav class="navbar navbar-expand-lg">
        <img class="bvc" src="../assets/BVC.png" alt="BVC" />
        <a class="navbar-brand" href="../index.html">
          <img src="../assets/logo.png" alt="logo" />
        </a>
        <span
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          ><img src="../assets/menu.png" alt="Menu" />
        </span>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="menu navbar-nav">
            <li class="nav-item dropdwn">
              <a
                class="nav-link"
                href="aboutus.html"
                id="navbarDropdownMenuLink"
                >About Us</a
              >
              <div
                class="dropdwn-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="aboutus.html">Profile</a>
                <a class="dropdown-item" href="visionmission.html"
                  >Vision and Mission</a
                >
                <a class="dropdown-item" href="board-of-directors.html"
                  >Board of Directors</a
                >
              </div>
            </li>
            <li class="nav-item dropdwn">
              <a
                class="nav-link"
                href="infrastructure.html"
                id="navbarDropdownMenuLink"
                >Infrastructure</a
              >
              <div
                class="dropdwn-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="our-reach.html">Our Reach</a>
                <a class="dropdown-item" href=" safety.html">Safety at IBJ</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="awards-recognition.html"
                >Awards and Recognition</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="careers.html">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Navbar Ends-->
      <div class="row people">
        <div class="col-md-12">
          <div class="people">
            <h1>Dignities Visit</h1>
            <div class="row">
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/9XM_2256.JPG" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img
                    src="../assets/people/Narendra Modiji Meeting.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/9xm_22221.jpeg" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/DSC_8989.JPG" alt="" />
                </div>
              </div>
            </div>
            <h1>Employee Celebration</h1>
            <div class="row">
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/DSC_2016.JPG" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/20210414_145657.jpeg" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/DSC_0167.JPG" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/DSC_2010.JPG" alt="" />
                </div>
              </div>
            </div>
            <h1>Team IBJ</h1>
            <div class="row">
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/IMG_20190815_082956.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/Group.png" alt="" />
                </div>
              </div>
            </div>
            <h1>Open House</h1>
            <div class="row">
              <div class="col-md-3">
                <div class="box">
                  <img
                    src="../assets/people/61D26D51-2082-466B-818D-E3FEAED29D2EL0001.jpeg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <h1>Recognizing the team efforts</h1>
            <div class="row">
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/20200302_150730.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/20200302_150536.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <img src="../assets/people/20200302_152118.jpg" alt="" />
                </div>
              </div>
            </div>
            <h1>IBJ Video</h1>
            <div class="row">
              <div class="col-md-3">
                <div class="box">
                  <video
                    src="../assets/videos/IBJsContribution.mp4"
                    muted
                    controls
                    autoplay
                    loop
                  ></video>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <video
                    src="../assets/videos/Mr. Daxesh Mankad Sir Interview.mp4"
                    muted
                    controls
                    autoplay
                    loop
                  ></video>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <video
                    src="../assets/videos/Mr. Rabbi Mishra Sir Interview.mp4"
                    muted
                    controls
                    autoplay
                    loop
                  ></video>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <video
                    src="../assets/videos/Safe & Secure Supply Chain Model.mp4"
                    muted
                    controls
                    autoplay
                    loop
                  ></video>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <video
                    src="../assets/videos/Safety In Indo Baijin Chemicals Pvt. Ltd.mp4"
                    muted
                    controls
                    autoplay
                    loop
                  ></video>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <video
                    src="../assets/videos/Who is Indo Baijin Chemicals Pvt. Ltd.mp4"
                    muted
                    controls
                    autoplay
                    loop
                  ></video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer-->
    <div class="fbtm">
      <div class="row">
        <div class="col-md-4">
          <ul class="footxt">
            <li><a href="#">Disclaimer</a></li>
            <li>
              <a href=" quality-policy.html">Quality Policy</a>
            </li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="social">
            <li>
              <a
                href="https://www.facebook.com/Indo-Baijin-Chemicals-Private-Limited-108325937592837/"
                target="_blank"
                ><img src="../assets/facebook.png" alt=""
              /></a>
            </li>
            <li>
              <a
                href="https://youtube.com/channel/UCqpmgWpD74Gs65W2_uhc1Zw"
                target="_blank"
                ><img src="../assets/youtube.png" alt=""
              /></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/indobaijinchemicals"
                target="_blank"
                ><img src="../assets/linkedin.png" alt=""
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <p>Copyright &#169; IndoBaijin, 2021. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </body>
</html>
